@import 'tailwindcss';

@theme {
  --color-flora-sandfarben: #f7f2eb;

  --color-flora-gray: #eae2d6;

  --color-flora-accent: #8b9a6e;

  --color-flora-light: #eeeeee;

  --color-flora-dark: #2a2c24;

  --font-oswald: font-family(var(--font-oswald), sans-serif);
}

html,
body {
  background-color: var(--color-flora-sandfarben);
  color: var(--color-flora-dark);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  overflow-x: hidden;
  font-size: 16px;
}
